<%- include("./partials/header.ejs") -%>

<link rel="stylesheet" href="../css/feedback.css" />

<section id="feedback" style="display: none">
	<div class="feedbackContainer">
		<h6 class="mb-4">
			<ion-icon
				name="chatbox-ellipses-outline"
				style="font-size: 0.9rem"
			></ion-icon
			>&nbsp;&nbsp;Feedback :
		</h6>
		<div class="question1">
			<div class="col-lg-12 mb-3 question">
				Question 1:
				<span>Food Quality.</span>
			</div>
			<div class="col-lg-12 option option0">
				<div class="left">
					<img src="../images/excellent.png" class="opt-img" />
					<span class="opt-rev">Excellent</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<div class="col-lg-12 option option1">
				<div class="left">
					<img src="../images/good.png" class="opt-img" />
					<span class="opt-rev">Good</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<div class="col-lg-12 option option2">
				<div class="left">
					<img src="../images/ok.png" class="opt-img" />
					<span class="opt-rev">Ok</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<div class="col-lg-12 option option3">
				<div class="left">
					<img src="../images/ns.png" class="opt-img" />
					<span class="opt-rev">Not Satisfied</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<button class="btn btn-block btn-darker next">Next Question</button>
			<button class="btn btn-block btn-lighter prev">Prev Question</button>
		</div>
		<div class="question2">
			<div class="col-lg-12 mb-3 question">
				<span>How often will you be having outsides food?</span>
			</div>
			<div class="col-lg-12 option option0">
				<div class="left">
					<img src="../images/biriyani.png" class="opt-img" />
					<span class="opt-rev">Weekly Once</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<div class="col-lg-12 option option1">
				<div class="left">
					<img src="../images/kaab.png" class="opt-img" />
					<span class="opt-rev">Weekly Thrice</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<div class="col-lg-12 option option2">
				<div class="left">
					<img src="../images/chicken_leg.png" class="opt-img" />
					<span class="opt-rev">Monthly Once</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<div class="col-lg-12 option option3">
				<div class="left">
					<img src="../images/tawa.png" class="opt-img" />
					<span class="opt-rev">Rare</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<button class="btn btn-block btn-darker next">Next Question</button>
			<button class="btn btn-block btn-lighter prev">Prev Question</button>
		</div>
		<div class="question3">
			<div class="col-lg-12 mb-3 question">
				<span>Will you refer your friends</span>
			</div>
			<div class="col-lg-12 option option0">
				<div class="left">
					<img src="../images/goodie.png" class="opt-img" />
					<span class="opt-rev">Ofcourse</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<div class="col-lg-12 option option1">
				<div class="left">
					<img src="../images/maybe.png" class="opt-img" />
					<span class="opt-rev">Good</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<div class="col-lg-12 option option2">
				<div class="left">
					<img src="../images/not_sure.png" class="opt-img" />
					<span class="opt-rev">Not Bad</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<!-- <div class="col-lg-12 option option3">
				<div class="left">
					<img src="../images/othersandwitch.png" class="opt-img" />
					<span class="opt-rev">Worst</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div> -->
			<br />
			<button class="btn btn-block btn-darker next">Next Question</button>
			<button class="btn btn-block btn-lighter prev">Prev Question</button>
		</div>
		<div class="question4">
			<div class="col-lg-12 mb-3 question">
				<span>Which food, you like the most with us?</span>
			</div>
			<div class="col-lg-12 option option0">
				<div class="left">
					<img src="../images/otherpizza.jpg" class="opt-img" />
					<span class="opt-rev">Pizza</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<div class="col-lg-12 option option1">
				<div class="left">
					<img src="../images/redvelvet.jpg" class="opt-img" />
					<span class="opt-rev">Red Velvet</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<div class="col-lg-12 option option2">
				<div class="left">
					<img src="../images/otherfrench.jpg" class="opt-img" />
					<span class="opt-rev">French Fries</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div>
			<br />
			<!-- <div class="col-lg-12 option option3">
				<div class="left">
					<img src="../images/otherfrench.png" class="opt-img" />
					<span class="opt-rev">Others</span>
				</div>
				<div class="right">
					<button class="btn btn-choice"></button>
				</div>
			</div> -->
			<!-- <br /> -->
			<button class="btn btn-block btn-darker next">Next Question</button>
			<button class="btn btn-block btn-lighter prev">Prev Question</button>
		</div>
	</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../js/feedback.js"></script>

<%- include("./partials/footer.ejs") -%>
