<%- include("./partials/header.ejs") -%>

<div class="header">
	<nav class="navbar navbar-expand-lg" style="margin-top: 0">
		<a class="navbar-brand" href="/">
			<img src="../images/logo.png" />
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<i class="fas fa-align-right"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav" style="margin: auto">
				<li class="nav-item">
					<a class="nav-link home" href="javascript:void(0)">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link cred" href="javascript:void(0)">MENU</a>
				</li>

				<li class="nav-item">
					<a class="nav-link contactus" href="javascript:void(0)">CONTACT US</a>
				</li>
			</ul>
			<a class="btn btn-outline-revgold btn-sm order" href="/order">
				ORDER ONLINE
			</a>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="box"></div>
		<div class="box-content">
			<div class="cookies">
				<ion-icon name="fast-food-outline"></ion-icon>
			</div>
			<h1>DELICIOUS FOODS</h1>
			<P>EXPERIENCE THE TASTE OF LUSCIOUS FOODS</P>
			<div
				class="
					mouse
					animate__animated animate__bounce animate__slow animate__infinite
				"
			>
				<ion-icon name="prism-outline"></ion-icon>
			</div>
		</div>
	</div>
</div>
<div class="gototop">
	<div><ion-icon name="arrow-up-outline"></ion-icon></div>
</div>
<div class="about">
	<div class="row">
		<div class="col-lg-3 plate-div">
			<img src="../images/plate.png" />
		</div>
		<div class="col-lg-4 about-head">
			<h3>
				Now enjoy a wonderful cafe <strong>dining experience</strong> and
				healthy food
			</h3>
		</div>
		<div class="col-lg-4">
			<p class="about-text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
				explicabo consequatur eligendi? Necessitatibus tempore explicabo
				sapiente quod voluptas
			</p>
			<a href="javascript:void(0)" class="experience">ABOUT EXPERIENCE</a>
		</div>
	</div>
	<div>
		<img src="../images/cooking.png" class="cooking-img" />
	</div>
</div>
<div class="menu">
	<div class="section-head">
		<span>- special recipes -</span>
		<h3>POPULAR MENU</h3>
	</div>
	<div class="menu-items">
		<p class="menu-item cakes">CAKES</p>
		<p class="menu-item breads">BREADS</p>
		<p class="menu-item donuts">DOUGHNUTS</p>
		<p class="menu-item cookie">COOKIES</p>
		<p class="menu-item others">OTHERS</p>
	</div>
	<div class="menu-box">
		<div class="row menu-blocks">
			<div class="col-lg-6 col-md-12 menu-block menu-block1">
				<img src="../images/blackforest.jpg" class="item-img" />
				<div class="menu-content">
					<h6 class="item-name">Black forest</h6>
					<span class="item-desc">Lorem ipsum dolor sit.</span>
				</div>
				<span class="item-price">₹ 756.00</span>
			</div>
			<div class="col-lg-6 col-md-12 menu-block menu-block2">
				<img src="../images/redvelvet.jpg" class="item-img" />
				<div class="menu-content">
					<h6 class="item-name">Red velvet</h6>
					<span class="item-desc">Lorem ipsum dolor sit.</span>
				</div>
				<span class="item-price">₹ 455.00</span>
			</div>
			<div class="col-lg-6 col-md-12 menu-block menu-block3">
				<img src="../images/chocotruffle.jpg" class="item-img" />
				<div class="menu-content">
					<h6 class="item-name">Choco truffle</h6>
					<span class="item-desc">Lorem ipsum dolor sit.</span>
				</div>
				<span class="item-price">₹ 606.00</span>
			</div>
			<div class="col-lg-6 col-md-12 menu-block menu-block4">
				<img src="../images/raspberry.jpg" class="item-img" />
				<div class="menu-content">
					<h6 class="item-name">Raspberry roll</h6>
					<span class="item-desc">Lorem ipsum dolor sit.</span>
				</div>
				<span class="item-price">₹ 756.00</span>
			</div>
			<div class="col-lg-6 col-md-12 menu-block menu-block5">
				<img src="../images/sweetchocolate.jpg" class="item-img" />
				<div class="menu-content">
					<h6 class="item-name">Sweet chocolate</h6>
					<span class="item-desc">Lorem ipsum dolor sit.</span>
				</div>
				<span class="item-price">₹ 455.00</span>
			</div>
			<div class="col-lg-6 col-md-12 menu-block menu-block6">
				<img src="../images/blueberry.jpg" class="item-img" />
				<div class="menu-content">
					<h6 class="item-name">Blueberry</h6>
					<span class="item-desc">Lorem ipsum dolor sit.</span>
				</div>
				<span class="item-price">₹ 606.00</span>
			</div>
		</div>
	</div>
</div>
<div class="special">
	<div class="section-head">
		<span>-- special recipes --</span>
		<h3>POPULAR MENU</h3>
	</div>
	<div class="special-dishes">
		<div class="row">
			<div class="col-lg-4 special-dish1">
				<img src="../images/kentucky.jpg" class="dish-img dish-img1" />
				<div class="rate">
					<span>ONLY</span>
					<div class="dish-price">₹ 30.00</div>
				</div>
				<p class="dish-name">PERFECT KENTUCKY</p>
				<span class="dish-type"
					>TOMATOES &nbsp;<i class="fas fa-circle"></i>&nbsp; PARMESAN &nbsp;<i
						class="fas fa-circle"
					></i
					>&nbsp; BASIL</span
				>
			</div>
			<div class="col-lg-4 special-dish2">
				<img src="../images/breast.jpg" class="dish-img dish-img2" />
				<div class="rate">
					<span>ONLY</span>
					<div class="dish-price">₹ 30.00</div>
				</div>
				<p class="dish-name">HOT CHICKEN BREAST</p>
				<span class="dish-type"
					>CAPSICUM&nbsp; <i class="fas fa-circle"></i>&nbsp; PANEER &nbsp;<i
						class="fas fa-circle"
					></i
					>&nbsp; CHEESE</span
				>
			</div>
			<div class="col-lg-4 special-dish3">
				<img src="../images/steak.jpg" class="dish-img dish-img3" />
				<div class="rate">
					<span>ONLY</span>
					<div class="dish-price">₹ 30.00</div>
				</div>
				<p class="dish-name">CHILLY CHICKEN STEAK</p>
				<span class="dish-type"
					>MUSHROOM &nbsp;<i class="fas fa-circle"></i>&nbsp; CUCUMBER &nbsp;<i
						class="fas fa-circle"
					></i>
					&nbsp;BASIL</span
				>
			</div>
		</div>
	</div>
</div>
<div class="grid-container" style="margin: 7rem 0">
	<div class="grid-box">
		<div class="grid">
			<div class="grid-item grid-item1">
				<P>BEST OF RECIPES</P>
				<h1 class="display-1">Delicious</h1>
				<h1>breakfast recipes</h1>
			</div>
			<div class="grid-item grid-item2"></div>
			<div class="grid-item grid-item3"></div>
			<div class="grid-item grid-item4">
				<P>BEST OF FOODS</P>
				<h1 class="display-1">Healthy</h1>
				<h1>energetic burger</h1>
			</div>
		</div>
	</div>
</div>
<div class="favorite">
	<div class="section-head">
		<span>-- restaurant favorite --</span>
		<h3>CHEF'S SPECIAL</h3>
	</div>
	<div class="favorite-dishes">
		<div class="row" style="text-align: center">
			<div class="col-lg-4">
				<div class="favorite-img">
					<img src="../images/blatter.png" class="img-fluid" />
				</div>
				<div class="favorite-words">
					<h2>01</h2>
					<div class="favorite-content">
						<span>Appeteaser blatter</span>
						<br />
						<span>Lorem ipsum dolor sit.</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="favorite-img">
					<img src="../images/tikka.png" class="img-fluid" />
				</div>
				<div class="favorite-words">
					<h2>02</h2>
					<div class="favorite-content">
						<span>Grilled chicken tikka</span>
						<br />
						<span>Lorem ipsum dolor sit.</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="favorite-img">
					<img src="../images/noodles.png" class="img-fluid" />
				</div>
				<div class="favorite-words">
					<h2>03</h2>
					<div class="favorite-content">
						<span>Noodles roulette</span>
						<br />
						<span>Lorem ipsum dolor sit.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br /><br /><br />
<div class="contact-details">
	<div class="row contacts">
		<div class="col-lg-3 col-md-6 contact-box">
			<i class="far fa-envelope"></i>
			<p>CONTACT US</p>
			<span>aravindhandev37@gmail.com</span>
		</div>
		<div class="col-lg-3 col-md-6 contact-box">
			<i class="fas fa-phone-volume"></i>
			<p>LET'S TALK</p>
			<span>phone: &nbsp;+91 9080800692</span>
		</div>
		<div class="col-lg-3 col-md-6 contact-box">
			<i class="fas fa-map-marker-alt"></i>
			<p>LOCATION</p>
			<span>No B 39 Ramakrishna Nagar Tiruchirappalli</span>
		</div>
		<div class="col-lg-3 col-md-6 contact-box">
			<i class="fas fa-globe"></i>
			<p>DETAILS</p>
			<a
				class="btn btn-sm"
				href="/contactmap"
				style="text-decoration: none; color: #000; font-weight: bold"
			>
				view more &nbsp;
				<i class="fas fa-external-link-alt" style="font-size: 0.9rem"></i>
			</a>
		</div>
	</div>
</div>
<div class="footer">
	<div class="sitemap">
		<a href="/order">ORDER ONLINE</a
		><a href="javascript:void(0)" class="aboutus">ABOUT</a
		><a href="/feedback">FEEDBACK</a>
	</div>
	<div class="power">
		POWERED BY &COPY;
		<a
			href="https://powerful-crag-98266.herokuapp.com/"
			style="font-weight: bold; color: #000; text-decoration: none"
			>WebDev Solutions</a
		>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="../js/home.js"></script>

<%- include("./partials/footer.ejs") -%>
