:root {
	--gold: #f54748;
	--gold-light: rgba(245, 71, 72, 0.5);
}

#account {
	width: 100vw;
	height: 100vh;
	background-color: #ecedf1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.accountContainer {
	box-shadow: 2px 2px 7px #ddd, -2px -2px 7px #ddd;
	width: 23rem;
	background-color: #fff;
	padding: 2rem;
	border-radius: 7px;
	background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.dropdown-divider {
	margin: 1rem 0;
}

.icons {
	font-size: 1.2rem;
}

.accountContainer h5,
.accountContainer p,
.accountContainer div {
	color: #777;
	cursor: pointer;
	font-weight: 600;
	transition: all 0.5s;
}

.accountContainer h5:hover,
.accountContainer p:hover,
.accountContainer div:hover {
	color: var(--gold);
}

.username {
	cursor: pointer;
	color: var(--gold);
	letter-spacing: 0.5px;
}

.dropdown-item:hover {
	background-color: var(--gold-light);
}

.yourcart a {
	color: #777 !important;
}

.yourcart a:hover {
	text-decoration: none;
	color: var(--gold) !important;
}

@media all and (max-width: 400px) {
	.accountContainer {
		padding-top: 3rem;
		width: 100%;
		height: 100%;
	}
}
